$headerHeight: 50px;
$mobileBreakpoint: 640px;
// contrast between chosen colors between WCAG AA - AAA rating.
$black: #001021;
$highlight: #FF474E;
$sidebar-blue: #087A87;
$white: #F5F5F5;

@mixin hamburger {
    background-color: #FF5A5F;
    content: "";
    display: block;
    height: 5px;
    position: relative;
    transform: rotate(0deg);
    transition: all 0.5s;
    width: 30px;
    z-index: 200;
}

body {
    background: $white;
    color: $black;
    // sans-serif fonts are widely considered most accessible to differently abled people.
    font-family: 'Montserrat', sans-serif;
    // Minimum font size for to prevent auto-zoom on mobile devices. 
    font-size: 16px;
    height: 100%;
    margin: 0;
    min-width: 320px;
    padding: 0;
    width: 100%;
}

a {
    color: $white;
    &:hover {
        color: $highlight;
        font-weight: 500;
    }
}

li {
    margin: 0.5em 0;
}

html {
    height: 100%;
    width: 100%;
}

header {
    align-items: center;
    background: $black;
    display: flex;
    height: $headerHeight;
    justify-content: space-between;
    padding: 0 1em;
    position: relative;
    z-index: 100;
}
h1 {
    display: none;
}
.search__container {
    position: relative;
    width: 85%;
    i {
        color: $highlight;
        position: absolute;
        right: 1em;
        top: 0.35em;
    }
    input {
        background: $white;
        border: none;
        border-radius: 15px;  
        color: $highlight;
        font-weight: bold;
        padding: 0.5em;
        width: calc(100% - 15px);
    }
}
.toggle-sidebar {
    display: none;
    &:checked {
        ~ main aside {
            left: 0;
        }
        ~ .toggle-sidebar-label:after {
            top: -8px;
            transform: rotate(45deg);
        }
        ~ .toggle-sidebar-label:before {
            top: 7px;
            transform: rotate(-45deg);
        }
    }
}
.toggle-sidebar-label {
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 200;
    cursor: pointer;
    &:before {
        @include hamburger;
        margin-bottom: 10px;
    }
    &:after{
        @include hamburger;
    }
}
main {
    display: flex;
    height: calc(100% - 50px);
    position: relative;
    overflow: hidden;
    width: 100%;
    article {            
        background: $white;
        height: 100%;
        padding: 0 1em;
        width: 100%;
    }
    aside {
        background: $sidebar-blue;
        bottom: 0;
        color: $white;
        left: 100%;
        padding: 1em;
        position: absolute;
        right: 0;
        top: 0;
        transition: left .5s;
        width: 100%;
    }
}

@media screen and (min-width: $mobileBreakpoint + 1) {
    .search__container {
        max-width: 250px;
        width: 30%;
    }
    h1 {
        color: $highlight;
        display: inline;
        font-weight: 600;
        // Some screen readers can shout at users when dealing with capitalized text.
        text-transform: uppercase;
    }
    .toggle-sidebar-label {
        display: none; 
    }
    main { 
        article {
            flex: 1 1 auto;
        }
        aside {
            left: 0;
            max-width: 250px;
            position: relative;
            width: 40%;
        }
    }
}


